doctype
html
    head
        title Home
        link(rel="stylesheet",href="Style/stylesheet.css")
    body
        #wrapper
            h1 #{message}
            #data
                h2 This is sample home page