
doctype
html
    head
        title = MovieDirApp
        link(rel="stylesheet",href="/bootstrap/bootstrap.css")

    body
        .container  
            .navbar.navbar-default
                .container
                    .navbar-header
                        a.navbar-brand(href="/")=" Movie Directory App"

                    block content