extend layout

block content

    .menu
        ul.nav.nav-pills
            li.active
                a(href="/boot_home") Home

            li 
                a(href="/viewMovies") View Movies
            
            li 
                a(href="/addMovies") Add Movies

            li 
                a(href="/searchMovies") Search Movies

    .div    
        .container
            .action
                h1 Welcome to View Movies page
                p   #{title}