doctype
html
    head 
        title= Amazon
        link(rel="stylesheet",href="/bootstrap/bootstrap.css")
    body 
        .container  
            .navbar.navbar-default
                .container
                    .navbar-header
                        a.navbar-brand(href="/")=" Amazon"
                
                .menu

                    ul.nav.nav-pills
                        li
                            a(href="/home") Home
                        li 
                            a(href="/contactus") Contact us
                        li 
                            a(href="/viewcustomer") View Customer
                        li 
                            a(href="/viewproduct") View Products
                        li 
                            a(href="/vieworder") View Order
                        li 
                            a(href="/Register") Register

        block content




    