extend layout

block content
    .container
        form(action="", method="post")
            table.table.table-striped.table-bordered
                thead
                    tbody
                        tr
                            td Name
                            td 
                                input(type="text", name="name")
                        tr  
                            td Address
                            td 
                                input(type="text", name="Address")    
                    
                        tr
                            td mobile
                            td 
                                input(type="number", name="Mobile")

                        tr 
                            td
                            td 
                                input(type="submit", value="submit")    
