<div class="col-md-6 col-md-offset-3">
    <h3>Login</h3>
    <form class="form form-horizontal" >
    
      <div class="form-goup">
        <div class="form-control">
          <input type="text" placeholder="username" #username/>
          <input type="password" placeholder="password" #password/>
          <button type="button" (click)="save(username.value,password.value)">submit</button>
        </div>
      </div>
    
      <div *ngxPermissionsOnly="['ADMIN', 'GUEST']">
        <div>Admin guest both</div>
    </div>
     
    
    <div *ngxPermissionsOnly="['ADMIN', 'USER']">
      <div>Admin USER both</div>
    </div>
    
    <ng-template ngxPermissionsOnly="ADMIN">
      <div>Only admin</div>
     </ng-template>
    
     <ng-template ngxPermissionsOnly="GUEST">
      <div>Only Guest</div>
     </ng-template>
    
    
    </form>
    
    </div>