<!doctype html>
<html>

<head>
    <title>My home page</title>
</head>

<body>
    <h2>Login page</h2>
    <form method="GET" action="submitlogin">
        <table>
            <tr>
                <td> Login:</td>
                <td> <input type="text" placeholder="Login" name="uname"></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" placeholder="password" name="pwd"></td>
            </tr>
            <tr>
                <td>
                    <button type="submit" value="submit"  name="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</body>

</html>