<!doctype html>
<html>

<head>
    <title>Register</title>
</head>

<body>
    <form method="post" action="register">
        <table>
            <tr>
                <td> <label><b>Email</b></label></td>
                <td> <input type="text" placeholder="Enter Email" name="email"></td>
            </tr>
            <tr>
                <td> <label><b>Password</b></label></td>
                <td> <input type="password" placeholder="Enter Password" name="psw"></td>
            </tr>
            <tr>
                <td><label><b>Repeat Password</b></label></td>
                <td> <input type="password" placeholder="Repeat Password" name="psw-repeat"></td>

            </tr>

            <tr>
                <td> <button type="submit" value="submit" name="submit">submit</button></td>
            </tr>
        </table>
    </form>

</body>

</html>